matrix:
  include:
    - language: php
      sudo: false
      php: 7.2
      cache:
        directories:
          - $HOME/.composer/cache/files
      before_script:
        - composer install
      script:
        - vendor/bin/phpunit -c phpunit.xml --coverage-clover ./coverage/clover.xml
        - vendor/bin/phpcs -q -n --colors --standard=ruleset.xml
      after_success:
        - travis_retry php vendor/bin/php-coveralls
