<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" backupGlobals="false" colors="true">
    <testsuites>
        <testsuite name="Disposable Email Address Filter testsuite">
            <directory>./tests/ElliotJReed/DisposableEmail/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
